input[type="checkbox"]:checked {
  color: #feda6a;
}

.custom-btn {
  background-image: linear-gradient(
    to right,
    #393f4d,
    #feda6a,
    #393f4d
  ) !important;
  border: none;
  color: black !important;
  padding: 15px 32px;
  text-align: center;
  margin: 4px 2px;
  cursor: pointer;
  border: none !important;
  font-weight: 500 !important;
}

.custom-btn:hover {
  background-image: linear-gradient(
    to right,
    #feda6a,
    #393f4d,
    #feda6a
  ) !important;
  color: #feda6a !important;
}

.link {
  font-weight: bold;
  color: rgb(184, 134, 11);
  text-decoration: none;
}

.link:hover {
  color: rgb(224, 166, 19);
  text-decoration: underline;
}

.link:focus, .link:active {
  color: rgb(153, 110, 2);
}

.logo {
  margin-left: 250px;
}

.search-bar {
  position: fixed;
  top: -5px;
  padding: 1rem 0.75rem;
  border-bottom-right-radius: 0.5rem;
  transition: transform 1.5s ease-in-out;
  transition: background-color 0.75s ease-in-out;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  z-index: 999;
}

.slide-up {
  animation: SlideUp 0.5s linear forwards;
}

.slide-down {
  animation: SlideDown 0.5s linear forwards;
}

.threads {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(3, 1fr);
}

.threads p {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}

.toggle {
  position: absolute;
  right: 40px;
  background: grey;
  list-style: none;
  text-align: center;
  padding: 0;
}

.form-error {
  color: red;
}

.page-link {
  color: black !important;
}

.pagination {
  --bs-pagination-color: #feda6a !important;
  --bs-pagination-hover-color: #feda6a !important;
  --bs-pagination-focus-color: #feda6a !important;
  --bs-pagination-active-bg: #feda6a !important;
}


@keyframes SlideUp {
  0% {
      transform: translateY(0);
  }
  100% {
    transform: translateY(-72px);
  }
}

@keyframes SlideDown {
  0% {
    transform: translateY(-72px);
  }
  100% {
      transform: translateY(0);
  }
}